<div class="unb-like-item">
    <div class="unb-side-by-side">
        <div><%- like.author.photo %></div>
        <div>
            <%- like.author.link %><br>
            <span class="unb-like-item-muted"><%= like.likedAt %></span>
        </div>
    </div>
</div>