<dialog class="unb-modal" id="unb-modal-likes-list" data-unb-dialog-modal open>
    <div class="unb-modal-header unb-modal-header-grid">
        <div><%= modal.t('common.likes') %></div>
        <div class="unb-align-right">
            <a href="#" data-unb-modal-close><i class="fa-solid fa-xmark"></i></a>
        </div>
    </div>
    <div class="unb-modal-body unb-modal-scroller" data-unb-like-content></div>
</dialog>