<div class="unb-page-title-bar unb-page-title-bar-grid">
    <div class="unb-page-title-bar-text"><%= t('admin.page.title.forums') %></div>
    <div class="unb-align-right">
        <span class="unb-button-one">
            <a href="<%= _urls.forums.create %>"><i class="fa-solid fa-plus"></i><%= t('admin.button.createforum') %></a>
        </span>
    </div>
</div>