<div class="unb-vertical-timeline">
    <div class="unb-vertical-timeline-left">
        <div class="unb-vertical-timeline-line">&nbsp;</div>
        <div class="unb-vertical-timeline-end">&nbsp;</div>
    </div>
</div>