<div class="unb-vertical-timeline">
    <div class="unb-vertical-timeline-left">
        <div class="unb-vertical-timeline-line">&nbsp;</div>
        <div class="unb-vertical-timeline-clock"><i class="fa-solid fa-clock"></i></div>
    </div>
    <div class="unb-vertical-timeline-clock-text"><%- gap.diff %></div>
</div>