<div class="unb-topic-timeline">
    <div class="unb-timeline-top-date"></div>
    <div class="unb-timeline-track">
        <div class="unb-timeline-thumb"></div>
    </div>
    <div class="unb-timeline-info">
        <div class="unb-timeline-post">
            Post <span id="unb-current-post">1</span> of 
            <span id="unb-total-posts">1</span>
        </div>
        <div class="unb-timeline-date"></div>
        <div class="unb-timeline-unread"></div>
    </div>
    <div class="unb-timeline-bottom-date"></div>
</div>